# Server Configurations
PORT = 4650
NODE_ENV = development
CORS_ORIGIN = http://localhost:5173, http://localhost:4650, https://nexify-nine.vercel.app/, https://nexify-nine.vercel.app

# JWT Secret Keys
JWT_SECRET = somesecret
JWT_REFRESH_SECRET = someothersecret

# MongoDB Connection URI
MONGODB_URI = mongodb://localhost:27017/nexify

# Email Configuration
SMTP_HOST = smtp.host.com
SMTP_PORT = 587
SMTP_SECURE = false
SMTP_USER = user@host.com
SMTP_PASS = password
SMTP_FROM = username@gmail.com
APP_URL = http://localhost:4650

# Google OAuth Configuration
GOOGLE_CLIENT_ID = googleclientid
GOOGLE_CLIENT_SECRET = googleclientsecret
GOOGLE_REDIRECT_URI = http://localhost:4650/auth/google/callback
